{% extends 'admin/dashboard.html' %} {% load static %} {% block title %} Eliminacion de Empleados {% endblock %} {% block content %}
<!-- EDITAR AQUI-->
<h2>Lista de Empleados</h2>
{% if empleados %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Telefono</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		{% for empleado in empleados %}
		<!-- Fila 1 con un collapse para mostrar más detalles -->
		<tr>
			<td>{{ empleado.nombre}} {{ empleado.apellido }}</td>
			<td>{{ empleado.telefono }}</td>
			<td>
				<a href="/modificar-empleado/{{empleado.id}}" class="btn btn-warning btn-sm me-2">Modificar</button>
				<a href="/eliminar-empleado/{{empleado.id}}" class="btn btn-danger btn-sm">Eliminar</button>
			</td>
		</tr>

		{% endfor %}
	</tbody>
</table>

{% else %}
<h2>No Existen Empleados</h2>
{% endif %} {% endblock %}
