{% extends 'admin/dashboard.html' %} {% load static %} {% block title %} Horas Agendadas {% endblock %} {% block content %}
<h1 class="mb-4">Horas Agendadas</h1>
<table class="table align-content-center">
	<thead>
		<tr>
			<th scope="col">Fecha</th>
			<th scope="col">Servicio</th>
			<th scope="col">Modelo del Auto</th>
			<th scope="col">Hora</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<!-- Fila 1 con un collapse para mostrar más detalles -->
		<tr data-bs-toggle="collapse" data-bs-target="#detalles1" aria-expanded="false" aria-controls="detalles1">
			<td>15 FEB</td>
			<td>Revisión de Motor</td>
			<td>Toyota Corolla</td>
			<td>14:00</td>
			<td>
				<button class="btn btn-warning btn-sm me-2">Modificar</button>
				<button class="btn btn-danger btn-sm">Eliminar</button>
			</td>
		</tr>
		<!-- Fila desplegable con más detalles -->
		<tr>
			<td colspan="5">
				<div id="detalles1" class="collapse">
					<div class="p-3 border rounded">
						<strong>Nombre:</strong>
						John Doe
						<br />
						<strong>Apellido:</strong>
						Smith
						<br />
						<strong>Teléfono:</strong>
						+56 9 1234 5678
						<br />
						<strong>Correo:</strong>
						john.doe@example.com
					</div>
				</div>
			</td>
		</tr>

		<!-- Fila 2 con un collapse para mostrar más detalles -->
		<tr data-bs-toggle="collapse" data-bs-target="#detalles2" aria-expanded="false" aria-controls="detalles2">
			<td>16 FEB</td>
			<td>Cambio de Aceite</td>
			<td>Honda Civic</td>
			<td>10:00</td>
			<td>
				<button class="btn btn-warning btn-sm me-2">Modificar</button>
				<button class="btn btn-danger btn-sm">Eliminar</button>
			</td>
		</tr>
		<!-- Fila desplegable con más detalles -->
		<tr>
			<td colspan="5">
				<div id="detalles2" class="collapse">
					<div class="p-3 border rounded">
						<strong>Nombre:</strong>
						Jane Doe
						<br />
						<strong>Apellido:</strong>
						Johnson
						<br />
						<strong>Teléfono:</strong>
						+56 9 8765 4321
						<br />
						<strong>Correo:</strong>
						jane.doe@example.com
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!--FIN EDITAR-->
{% endblock %}
