/*
hay que usar esta paleta de colores 
#2B558C
#3279A6
#3DADD9
#F2F2F2
#0D0D0D
*/
body {
	background-color: #e3f2fd;
	color: #333333;
}

header {
	background-color: #1a73e8;
}

.nav-pills .nav-link.agendar {
	background-color: #1565c0;
	color: #333333;
}

.nav-pills .nav-link {
	background-color: #e3f2fd;
	color: #333333;
}

.nav-pills .nav-link.active {
	background-color: #e3f2fd;
	color: #333333;
}

.nav-pills .nav-link:hover {
	background-color: #0056b3;
	color: #333333;
}

.c-item {
	height: 500px;
}

.form-signin {
	max-width: 330px;
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.bi {
	display: inline-block;
	width: 1rem;
	height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
	.sidebar .offcanvas-lg {
		position: -webkit-sticky;
		position: sticky;
		top: 48px;
	}

	.navbar-search {
		display: block;
	}
}

.sidebar .nav-link {
	font-size: 0.875rem;
	font-weight: 500;
}

.sidebar .nav-link.active {
	color: #2470dc;
}

.sidebar-heading {
	font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
	padding: 0.75rem 1rem;
}
